<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>608702317809-cpv086onmml0sgsbshfastin3sqtt0vk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.608702317809-cpv086onmml0sgsbshfastin3sqtt0vk</string>
	<key>API_KEY</key>
	<string>AIzaSyCGnlhXp-C4MY4mUAUr_jCXUUIKy8QRa-Y</string>
	<key>GCM_SENDER_ID</key>
	<string>608702317809</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.insupl.coinlift</string>
	<key>PROJECT_ID</key>
	<string>coinlift-77b56</string>
	<key>STORAGE_BUCKET</key>
	<string>coinlift-77b56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:608702317809:ios:e490d758111d6970</string>
	<key>DATABASE_URL</key>
	<string>https://coinlift-77b56.firebaseio.com</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<true></true>
</dict>
</plist>
