page-cover {

  ion-navbar {
    button {
      font-size: 50%;
    }
  }

  .i1 {
    ion-item {
      border-top: 1px solid color($colors, light, base) !important;
      &:first-child {
        padding: 10px 0 10px 8px !important;
        background-color: color($colors, primary, base);
        color: color($colors, white, base);

        ion-avatar {
          img {
            width: 72px;
            height: 72px;
          }
        }
      }

      font-size: 110% !important;
    }

    ion-col {
      background-color: color($colors, primary, base);
      height: 25px !important;
    }
    margin-bottom: 0 !important;

    p {
      color: color($colors, white, base);
    }
  }

  .g1 {
    background-color: color($colors, primary, base);
    color: color($colors, white, base);
  }

  .c1 {
    margin: 0px !important;
    width: calc(100% - 0px) !important;
    -webkit-box-shadow: none !important;
    box-shadow:  none !important;

    ion-avatar {
      margin-right: 5px !important;
    }

    // ion-item {
    //   button {
    //     height: 20px !important;
    //     span {
    //       font-size: 80% !important;
    //     }
    //   }
    // }

    ion-item {
      p {
        font-size: 60% !important;
      }
    }

    ion-card-content {
      padding-bottom: 0 !important;

      div {
        margin-bottom: 10px !important;
      }

      p {
        color: color($colors, dark, base);
        font-size: 110% !important;
        line-height: 150%;
      }

      button {
        span {
          font-size: 110% !important;
        }
      }
    }

    .clamp {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }

    ion-row {
      ion-col {
        padding: 0px !important;

        button {
          font-size: 80%;
        }
      }
    }

    .r1 {
      border-top: 1px solid color($colors, light, base) !important;
      margin: 0 16px 0 16px !important;
    }

    ion-grid {
      background-color: color($colors, light, base);
      font-size: 90%;

      ion-col {
        padding: 0px !important;

        button {
          height: 1.2em !important;
          margin: 0 !important;
        }

        span {
          color: color($colors, primary, base);
          font-size: 100%;
          margin-right: 5px !important;
        }

      }
    }

  }
}
