page-my {

  ion-list {
    ion-item {
      border-top: 1px solid color($colors, light, base) !important;
      &:first-child {
        padding: 10px 0 10px 8px !important;
        background-color: color($colors, primary, base);
        color: color($colors, white, base);

        ion-avatar {
          img {
            width: 72px;
            height: 72px;
          }
        }
      }

      font-size: 110% !important;
    }
  }

}
